.lingkaran{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.1em;
}
footer{
    /* margin: 10px; */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
*{
    box-sizing: border-box;
}
.emojis{
    vertical-align: inherit;
    width: 40px;
}
.addnewjurnal{
    position: fixed;
    display: flex;
    justify-content: center;
}